API_ID=22616841
API_HASH=9ee818c6b29ab50a4ff99f3c2d531a96
BOT_TOKEN=7932576136:AAF73AmqoNlAj66aMhcqszQmRLi_m5MHWJ0
LOGGER_ID=-1002250226716
MONGO_DB_URI=mongodb+srv://architect2002:architect2002@cluster0.ccinu.mongodb.net/?retryWrites=true&w=majority&appName=Cluster0
OWNER_ID=7078122796
STRING_SESSION=BQEksaEAOtHgBeLoFy6x7CzF__V20SXTKLa3IWszkADc35UHPh-S61_pkDLvxqCUQQcRcBNNYuaBPa74apu9LZbVKWPIWZ0qa9UQnsIk3EOorXgQJDpS66XpWIkm4tZchvdYOVIzwpEcx-MrXJmwk02QSmZSHtjYGYzGpQntpGaYy365wiXcB6qRP54zDGd6BCn02Fg-or3RUSY3Y_5fmdJb4u9cVn63fINbQNv-zLnYTYUCpmPA2mSBJ1EmVKI60ZSyY8JsP0ZrQKvFCP8tQKUeOSi0SqvhcnXGSpRLai3ztRCv2cMqcuIEWmBx-Qo7Cs-rb61Nx59KABSHjtIZ-4Pw48BDSQAAAAGixy6dAA
